.button {
  min-height: 2.75rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-two);
  font-weight: var(--ff-700);
  font-size: var(--fs-15);
  line-height: 1.67;
  text-align: center;
  color: var(--neutral-clr-one);

  border: solid 0.06rem var(--primary-clr-one);
  background: var(--primary-clr-one);

  transition: 0.8s all;
}
