.careers-section {
  max-width: 73.38rem;

  padding: 0 2rem;
  margin: 0 auto 7.38rem auto;

  &__list {
    display: grid;
    gap: 0.81rem;

    &-item {
      display: grid;
      gap: 0.94rem;

      text-align: center;

      padding: 2.25rem 2rem 2.25rem 2rem;

      background: var(--neutral-clr-three);
    }

    &-info {
      display: grid;
      gap: 0.25rem;

      text-align: center;
    }

    &-position {
      font-family: var(--ff-two);
      font-weight: var(--ff-700);
      font-size: var(--fs-18);
      line-height: 1.33;

      letter-spacing: -0.05rem;

      color: var(--primary-clr-two);
    }

    &-location {
      font-family: var(--ff-one);
      font-weight: var(--fw-400);
      font-size: var(--fs-15);
      line-height: 1.67;
      color: var(--primary-clr-two);
    }

    &-btn {
      padding: 0.88rem 3.73rem 0.75rem 3.82rem;
    }
  }
}

@media (min-width: 43.75em) {
  .careers-section {
    margin: 0 auto 7.38rem auto;
    padding: 0 2.5rem 0 2.44rem;

    &__list {
      display: grid;
      gap: 1rem;

      &-item {
        grid-template-columns: 2fr 1fr;
        align-items: center;
        text-align: start;

        padding: 2.13rem 3rem 2.06rem 3rem;
      }

      &-info {
        gap: 0.5rem;
        justify-self: start;

        text-align: start;
      }

      &-position {
        font-size: var(--fs-24);
        line-height: 1.17;
        letter-spacing: -0.07rem;
      }

      &-btn {
        justify-self: end;

        padding: 0.88rem 4.16rem 0.88rem 4.22rem;
      }
    }
  }
}

@media (min-width: 62.5em) {
  .careers-section {
    padding: 0 2rem 0 2rem;
    margin: 0 auto 10rem auto;

    &__list {
      display: grid;
      gap: 1.5rem;

      &-info {
        justify-self: start;
      }

      &-item {
        text-align: start;

        padding: 2rem 4rem 2.19rem 2.5rem;
      }

      &-btn {
        padding: 0.88rem 4.16rem 0.88rem 3.91rem;
      }
    }
  }
}
