[aria-controls="header__nav-menu-list"] {
  all: unset;
  display: block;

  position: absolute;
  left: 1.38rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 7;

  padding: 0.38rem;

  cursor: pointer;

  & .header__nav-toggle-line {
    display: block;
    width: 1.75rem;
    height: 0.25rem;

    background: var(--primary-clr-one);
    margin-block: 0.25rem;
    border-radius: 0.25rem;

    transition: transform 0.5s, opacity 0.25s;
  }

  &[aria-expanded="true"] .header__nav-toggle-line:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  &[aria-expanded="true"] .header__nav-toggle-line:nth-child(2) {
    opacity: 0;
  }

  &[aria-expanded="true"] .header__nav-toggle-line:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
}

[aria-expanded="false"] + .header__nav-menu {
  transform: translateX(-100%);
  visibility: hidden;
}

.header__nav-menu {
  position: absolute;
  top: 4rem;
  left: 0;
  bottom: 0;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;

  min-height: 100vh;
  min-height: 100svh;

  width: min(16rem, 100vw);

  padding: 3.94rem 1.81rem 1.5rem 2rem;
  background: var(--primary-clr-three);
  box-shadow: -0.31rem 0 0.69rem 0 rgb(0 0 0 / 0.2);

  overflow: auto;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    visibility 0.3s linear;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &-link {
    font-family: var(--ff-two);
    font-weight: var(--ff-700);
    font-size: var(--fs-18);
    line-height: 1.39;

    color: var(--neutral-clr-two);
  }

  &-btn {
    padding: 0.88rem 2.81rem 0.88rem 2.88rem;
    margin: auto 0 4rem 0;
  }
}

.disable-scroll {
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    z-index: 3;
  }
}

@media (min-width: 50em) {
  .header__nav {
    width: 100%;

    inset-block-start: 1rem;
    inset-inline-end: 1rem;
    display: flex;
    justify-content: space-between;
  }

  [aria-controls="header__nav-menu-list"] {
    all: unset;
    display: none;
    position: relative;
    z-index: 1;
  }

  [aria-expanded="false"] + .header__nav-menu {
    transform: none;
    visibility: visible;
  }

  .header__nav-menu {
    position: initial;
    top: 0;
    right: 0;

    flex-direction: row;
    gap: 2.69rem;

    min-height: auto;
    width: 100%;

    padding: 0;

    background: transparent;
    box-shadow: none;

    &-list {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    &-link {
      font-size: var(--fs-20);
      line-height: 1.67;
      color: var(--primary-clr-four);
    }

    &-btn {
      padding: 0.88rem 2.44rem 0.88rem 2.44rem;
      margin: 0;
    }
  }

  .disable-scroll {
    overflow: auto;

    &::before {
      position: absolute;

      background-color: transparent;
    }
  }
}

@media (hover: hover) {
  [aria-controls="header__nav-menu-list"]:is(:hover, :focus, :focus-visible) {
    outline: solid 0.13rem var(--primary-clr-one);
    outline-offset: 0.25rem;
  }

  .header__nav-menu-link:is(:hover, :focus, :focus-visible) {
    color: var(--primary-clr-one);

    outline: solid 0.13rem var(--primary-clr-one);
    outline-offset: 0.25rem;
  }
}
