.benefits-section {
  display: flex;
  flex-direction: column;
  gap: 7.44rem;

  padding: 0 2rem;
  margin-bottom: 7.38rem;

  &__content {
    max-width: 69.38rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;

    margin: 0 auto;
  }

  &__img {
    border-radius: 50%;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    text-align: center;
  }

  &__heading {
    max-width: 16ch;
    font-family: var(--ff-two);
    font-weight: var(--ff-700);
    font-size: var(--fs-32);
    line-height: 1;
    letter-spacing: -0.09rem;
    color: var(--primary-clr-two);
  }

  &__text {
    max-width: 64ch;
    font-family: var(--ff-one);
    font-weight: var(--fw-400);
    font-size: var(--fs-15);
    line-height: 1.67;
    color: var(--primary-clr-four);
  }

  &__btn {
    padding: 0.88rem 2.75rem 0.81rem 2.75rem;
  }

  &__pattern {
    position: relative;
  }

  &__pattern--one::before {
    position: absolute;
    content: url(/patterns/left-downward-arrow.svg);
    bottom: 23.5rem;
    right: -26.5rem;
  }

  &__pattern--two::before {
    position: absolute;
    content: url(/patterns/right-arrow.svg);
    top: -0.5rem;
    left: -13.5rem;
  }

  &__pattern--three::before {
    position: absolute;
    content: url(/patterns/left-downward-arrow.svg);
    top: -0.06rem;
    right: -34.63rem;
  }

  &__pattern--four::before {
    position: absolute;
    content: url(/patterns/left-upward-arrow.svg);
    top: 8rem;
    right: -26.5rem;
  }

  &__pattern--five::before {
    position: absolute;
    content: url(/patterns/right-arrow.svg);
    top: -0.44rem;
    left: -8.5rem;
  }

  &__pattern--six::before {
    position: absolute;
    content: url(/patterns/left-downward-arrow.svg);
    top: 10.31rem;
    right: -26.5rem;
  }
}

@media (min-width: 43.75em) {
  .benefits-section {
    margin-bottom: 8.13rem;

    &--careers {
      margin-bottom: 7.5rem;
    }

    &__about {
      margin-bottom: 7.69rem;
    }

    &__content {
      gap: 3.44rem;

      &--careers {
        gap: 3.94rem;
      }

      &-container {
        gap: 2.5rem;
      }
    }

    &__heading {
      font-size: var(--fs-48);
      line-height: 1;
      letter-spacing: -0.13rem;
    }

    &__pattern--one:before {
      bottom: 21.81rem;
      right: -2.38rem;
    }

    &__pattern--one::after {
      position: absolute;
      content: url(/patterns/circle.svg);
      top: 0;
      right: -23.88rem;

      z-index: -4;
    }

    &__pattern--two::before {
      top: 0.5rem;
      left: -8.13rem;
    }

    &__pattern--two::after {
      position: absolute;
      content: url(/patterns/circle.svg);
      top: 0.5rem;
      left: -23.57rem;

      z-index: -4;
    }
    &__pattern--three::before {
      top: 5.94rem;
      right: -26.13rem;
    }

    &__pattern--three::after {
      position: absolute;
      content: url(/patterns/circle.svg);
      top: 1rem;
      right: -27.69rem;

      z-index: -4;
    }

    &__pattern--four::before {
      top: 16.44rem;
      right: -2.38rem;
    }

    &__pattern--four::after {
      position: absolute;
      content: url(/patterns/circle.svg);
      top: 0;
      right: -23.88rem;

      z-index: -4;
    }

    &__pattern--five::before {
      top: 0.13rem;
      left: -8.13rem;
    }

    &__pattern--five::after {
      position: absolute;
      content: url(/patterns/circle.svg);
      top: -0.06rem;
      left: -23.56rem;

      z-index: -4;
    }

    &__pattern--six::before {
      position: absolute;
      content: url(/patterns/left-downward-arrow.svg);
      top: 18.69rem;
      right: -2.38rem;
    }

    &__pattern--six::after {
      position: absolute;
      content: url(/patterns/circle.svg);
      bottom: 22.56rem;
      right: -23.88rem;

      z-index: -4;
    }
  }
}

@media (min-width: 62.5em) {
  .benefits-section {
    flex-direction: column;
    gap: 9.56rem;

    margin-bottom: 12.5rem;

    &--about {
      gap: 7.06rem;

      margin-bottom: 7.19rem;
    }

    &--careers {
      margin-bottom: 7.5rem;
    }

    &__content {
      flex-direction: row-reverse;
      gap: 12.25rem;

      margin-top: 0.44rem;

      &--alt {
        flex-direction: row;
        gap: 13.75rem;
      }

      &-container {
        align-items: start;
        gap: 1.5rem;

        text-align: start;

        &-inner--careers {
          margin-top: 0;
        }
      }
    }

    &__text {
      max-width: 49ch;
      margin-bottom: 0.81rem;
    }

    &__pattern--one::before {
      bottom: -0.75rem;
      right: -2rem;
    }

    &__pattern--one::after {
      top: 0.5rem;
      right: -23.5rem;
    }

    &__pattern--two::before {
      top: 0.44rem;
      left: -8.06rem;
    }

    &__pattern--two::after {
      top: 0.5rem;
      left: -23.5rem;
    }

    &__pattern--three::before {
      top: 5.31rem;
      right: -25.75rem;
    }

    &__pattern--three::after {
      top: 0.5rem;
      right: -23.5rem;
    }

    &__pattern--four::before {
      top: 16.44rem;
      right: -2rem;
    }

    &__pattern--four::after {
      right: -23.5rem;
    }

    &__pattern--five::before {
      top: 0;
      left: -8.07rem;
    }

    &__pattern--five::after {
      top: -0.06rem;
      left: -23.56rem;
    }

    &__pattern--six::before {
      top: 19.13rem;
      right: -2rem;
    }

    &__pattern--six::after {
      bottom: -0.38rem;
      right: -23.5rem;
    }
  }
}
