.faqs-section {
  max-width: 73.38rem;

  display: grid;
  justify-items: center;
  gap: 3rem;

  padding: 0 2rem;
  margin: 0 auto 7.38rem auto;

  &__heading {
    font-family: var(--ff-two);
    font-weight: var(--ff-700);
    font-size: var(--fs-32);
    line-height: 1;
    letter-spacing: -0.09rem;
    text-align: center;
    color: var(--primary-clr-two);
  }

  &__content {
    width: 100%;
    display: grid;

    gap: 2rem;

    &-heading {
      font-family: var(--ff-two);
      font-weight: var(--ff-700);
      font-size: var(--fs-24);
      line-height: 1.17;
      text-align: center;
      letter-spacing: -0.07rem;
      color: var(--primary-clr-two);
    }
  }
}

@media (min-width: 43.75em) {
  .faqs-section {
    gap: 4.13rem;

    padding: 0 2.38rem;
    margin: 0 auto 7.56rem auto;

    &__heading {
      font-size: var(--fs-48);
      line-height: 1;
      letter-spacing: -0.13rem;
    }

    &__content-heading {
      font-size: var(--fs-40);
      line-height: 1.2;
      letter-spacing: -0.11rem;
    }
  }
}

@media (min-width: 62.5em) {
  .faqs-section {
    gap: 4rem;

    padding: 0 2rem;
    margin: 0 auto 9.88rem auto;

    &__content {
      display: grid;
      grid-template-columns: 21.88rem 1fr;
      gap: 1.88rem;

      &-heading {
        justify-self: start;
      }
    }
  }
}
