.intro-section__hero {
  position: relative;
  background-image: url(/src/assets/images/home-hero-mobile.jpg);

  margin: 4rem 0 7.5rem 0;
  overflow: hidden;
}

.intro-section__content--hero::before {
  position: absolute;
  content: url(/patterns/right-arrow.svg);
  bottom: 1.38rem;
  left: -19.5rem;
  width: 100%;
}

.intro-section__about {
  background-image: url(/src/assets/images/about-hero-mobile.jpg);
}

.intro-section__careers,
.intro-section__locations {
  background-image: url(/src/assets/images/careers-location-hero-mobile.jpg);
}

.intro-section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-section__about,
.intro-section__careers,
.intro-section__locations {
  text-align: center;

  padding: 3.75rem 2rem 3.75rem 2rem;
  margin-bottom: 4.5rem;
  margin-top: 4rem;
}

.intro-section__content--hero {
  max-width: 73.38rem;

  display: grid;
  gap: 1.5rem;

  text-align: center;

  padding: 7.19rem 2rem 11.19rem 2rem;
  margin: 0 auto;
}

.intro-section__content--about,
.intro-section__content--locations,
.intro-section__content--careers {
  max-width: 77.63rem;
  margin: 0 auto;
}

.intro-section__heading {
  font-family: var(--ff-two);
  font-weight: var(--ff-700);
  font-size: var(--fs-40);
  line-height: 1;
  letter-spacing: -0.11rem;
  color: var(--neutral-clr-one);
}

.intro-section__heading--hero {
  max-width: 18ch;
}

.intro-section__container {
  display: grid;
  justify-items: center;
  gap: 2.13rem;
}

.intro-section__text {
  font-family: var(--ff-one);
  font-weight: var(--fw-400);
  font-size: var(--fs-15);
  line-height: 1.67;
  text-align: center;
  color: var(--neutral-clr-one);
}

.intro-section__cta {
  padding: 0.88rem 2.38rem 0.75rem 2.5rem;
}

@media (min-width: 43.75em) {
  .intro-section__hero {
    background-image: url(/src/assets/images/home-hero-tablet.jpg);

    margin: 6rem 0 7.63rem 0;
  }

  .intro-section:before {
    position: absolute;
    content: url(/patterns/white-circles.svg);
    top: 6.25rem;
    right: -1.94rem;
  }

  .intro-section__hero::before {
    top: 33.88rem;
  }

  .intro-section__content--hero {
    padding: 8.56rem 6.13rem 13.56rem 6.06rem;
  }

  .intro-section__content--hero::before {
    bottom: 1.69rem;
    left: -17.81rem;
  }

  .intro-section__container {
    gap: 2rem;
  }

  .intro-section__about {
    background-image: url(/src/assets/images/about-hero-mobile.jpg);

    padding: 6.5rem 2rem 4.5rem 5.94rem;
    margin-bottom: 9rem;
  }

  .intro-section__careers,
  .intro-section__locations {
    background-image: url(/src/assets/images/careers-location-hero-mobile.jpg);

    padding: 6.5rem 2rem 4.5rem 5.94rem;
    margin-bottom: 9rem;
  }

  .intro-section__heading {
    font-size: var(--fs-56);
    line-height: 1;
    letter-spacing: -0.16rem;
    text-align: start;
  }

  .intro-section__heading--hero {
    text-align: center;
  }
}

@media (min-width: 62.5em) {
  .intro-section__hero {
    justify-items: start;

    background-image: url(/src/assets/images/home-hero-desktop.jpg);
    margin-bottom: 10rem;
  }

  .intro-section__about {
    background-image: url(/src/assets/images/about-hero-mobile.jpg);

    text-align: start;

    padding: 6.5rem 2rem 4.5rem 10.31rem;
    margin-bottom: 7.5rem;
  }

  .intro-section__careers,
  .intro-section__locations {
    background-image: url(/src/assets/images/careers-location-hero-mobile.jpg);

    text-align: start;

    padding: 6.5rem 2rem 4.5rem 10.31rem;

    margin-bottom: 7.5rem;
  }

  .intro-section__careers {
    margin-bottom: 7.06rem;
  }

  .intro-section__content--hero {
    position: relative;
    gap: 2.5rem;

    text-align: start;
    padding: 9.56rem 6.13rem 9.5rem 2rem;
  }

  .intro-section__hero::before {
    top: 26.38rem;
    right: -3rem;
  }

  .intro-section__content--hero::before {
    bottom: 9.06rem;
    left: 35.75rem;
  }

  .intro-section__content--hero::after {
    position: absolute;
    content: url(/patterns/line-yellow.svg);
    bottom: 17.56rem;
    left: -8.31rem;
    stroke: var(--primary-clr-one);
  }

  .intro-section__container {
    justify-items: start;
    gap: 2.5rem;

    transform: translateX(5.94rem);
  }

  .intro-section__text {
    max-width: 46ch;
  }

  .intro-section__heading,
  .intro-section__text {
    text-align: start;
  }
}
